<h1>Game</h1>

<div class="row">
    <div class="col-md-10">
        <div data-ng-class="{'hidden' : !gameData.ships.length}">
        <b>Selected ship:</b> {{selectedShip.name}}, {{selectedShip.width}}<br>
        <b>Direction:</b>
        <label><input type="radio" name="direction" ng-model="placeDirection" value="horizontal"> Horizontal</label>
        <label><input type="radio" name="direction" ng-model="placeDirection" value="vertical"> Vertical</label>
        </div>

        <table class="map">
            <tr data-ng-repeat="row in [] | range : 0 : gameData.stage.height">
                <td data-ng-repeat="col in [] | range : 0 : gameData.stage.width">
                 <div data-ng-click="placeShip(row, col)" title="{{shipMapData[row][col].ship.name}}" class="ship-{{shipMapData[row][col].ship.id}}">{{shipMapData[row][col].char}}</div>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-2">
        <h3>Players</h3>
        <ol>
            <li data-ng-repeat="player in gameData.players | orderBy : player.points">
                <b>{{player.nick}}</b>
                {{player.points}}
                {{player.state}}
            </li>
        </ol>
        
        <h3>Ships</h3>
        <ul>
            <li data-ng-repeat="ship in gameData.ships">
                <span data-ng-click="shipSelected(ship)" data-ng-class="{'bg-success' : (ship == selectedShip)}">{{ship.name}} {{ship.width}}</span>
            </li>
        </ul>

        <button class="btn btn-primary" data-ng-click="readyToPlay()" data-ng-disabled="gameData.ships.length">I'm ready</button>
    </div>
</div>
